// Base Classes
%button-generic {
  font-weight: 700;
  padding: 0.5rem 1.75rem;
  border-radius: 5px;

  &:focus {
    border: unset;
    box-shadow: unset;
    outline: unset;
  }
}

// Variables
$accent-color-green: #7ac25b;
$accent-color-purple: #5848ea;
$accent-color-pink: #9549eb;

$accent-gradient-purple: linear-gradient(to right, $accent-color-purple, $accent-color-pink);
$button-gradient: linear-gradient(
  to right,
  $accent-color-purple,
  $accent-color-pink,
  $accent-color-purple
);

$primary-dark: #1e1e1e;
$secondary-dark: #404040;
$tertiary-dark: #5c5c5c;

$primary-light: #ffffff;
$secondary-light: #d1d1d1;
$tertiary-light: #adadad;

$banner-height: 5vh;
$banner-background: #25282e;

// Animations
@keyframes button-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// Classes and Overrides
html {
  font-size: 14px;
}

.h-inherit {
  height: inherit;
}

.no-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

button {
  background: none;
  border: none;
  padding: unset;
}

.button-primary {
  @extend %button-generic;
  background: $button-gradient;
  cursor: pointer;
  background-size: 200% 200%;
  color: white;

  &:hover {
    animation: button-gradient 3s ease infinite;
  }
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.pulse {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1px;
  width: 1px;
  border-radius: 50%;
  position: relative;
  border: none;
  box-shadow: 0 0 0 0 #fff;

  &:hover {
    animation: pulse 1s infinite cubic-bezier(0.2, 0, 0, 1);
  }

  @keyframes pulse {
    to {
      box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
    }
  }
}

.ide-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  &--dark {
    background: $primary-dark;
    color: $primary-light;
  }

  .navbar-top {
    border-bottom: solid 1px $tertiary-dark;
    height: 60px;
    padding: 0 30px;

    &__option {
      font-size: 1.142rem;
      color: $primary-light;
      padding: 0 1rem;
      cursor: pointer;
      text-decoration: none;
      display: flex;
      align-items: center;

      &:hover {
        color: $accent-color-green;
      }
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      outline: 0;
      box-shadow: none;
      background: $primary-dark;
      background-image: none;
      color: #fff;
      cursor: pointer;

      &::-ms-expand {
        display: none;
      }

      option {
        background: $primary-dark;
        padding: 5px 0;
      }
    }

    .language-selector {
      border: 1px solid $accent-color-green;
      border-radius: 5px;
      padding: 5px 10px;
      margin-right: 30px;
      transition: all 0.25s;

      &:hover,
      &:focus {
        border: 1px solid $accent-color-purple;
        background: $tertiary-dark;
      }
    }
  }

  .run-button__container {
    position: fixed;
    bottom: calc(1.5rem + 60px);
    right: calc(3rem + 60px);
    transition: all 0.75s;

    .run-button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      width: 60px;
      border-radius: 50px;
      cursor: pointer;
      padding: 20px;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.75s;

      img {
        width: 100%;
        margin-right: -5px;
      }

      &--run-code {
        background: $button-gradient;
        border: solid 1px $button-gradient;
        background-size: 200% 200%;

        &:hover {
          animation: button-gradient 3s infinite;
        }
      }

      &--success {
        background: $accent-color-green;
        border: solid 1px $accent-color-green;
      }

      &--error {
        background: #e6bf12;
        border: solid 1px #e6bf12;
      }
    }

    .ring-animation {
      position: absolute;
      visibility: visible;
      opacity: 1;
      transition: all 0.25s;

      &--small {
        top: -5px;
        left: -5px;
      }

      &--large {
        top: -12.5px;
        left: -12.5px;
        display: none;
      }

      circle {
        animation: rotate 5s linear infinite;
        fill: transparent;
        stroke: $accent-color-green;
        stroke-width: 4;
        stroke-dasharray: 250;
        stroke-dashoffset: 1000;
      }

      @keyframes rotate {
        to {
          stroke-dashoffset: 0;
        }
      }
    }
  }

  .main-container {
    height: calc(100vh - 60px);
    position: relative;
    flex: 1;

    .ide-section {
      flex: 1;
      width: 60%;
      max-width: calc(100vw - 30px);
    }

    .io-section {
      border-left: solid 1px $tertiary-dark;
      width: 40%;
      max-width: 500px;
      position: relative;
      transition: all 0.75s;

      &--hidden {
        width: 30px !important;
        overflow: hidden;

        * {
          visibility: hidden;
        }
      }

      &--hidden ~ .run-button__container {
        bottom: calc(3rem + 60px);

        .run-button {
          transform: scale(125%);
        }

        .ring-animation {
          &--large {
            display: block;
          }

          &--small {
            display: none;
          }
        }
      }

      &--hidden ~ .ide-section {
        width: calc(100vw - 30px);
      }

      &--hidden ~ .open-io-button {
        background: $accent-color-green;
        right: calc(3rem - 10px);

        .open-io-button__icon {
          transform: rotate(180deg);
        }
      }
    }

    .io-box {
      max-height: 100vh;
      textarea {
        background: $primary-dark;
        width: 100%;
        height: 80%;
        border: none;
        resize: none;
        appearance: none;
        color: $primary-light;
        transition: padding 0.25s;

        &:focus {
          border: solid 1px $tertiary-dark !important;
          outline: 0 none !important;
          box-shadow: 0 0 5px rgba($color: $accent-color-green, $alpha: 1) inset !important;
          border-radius: 5px;
          padding: 20px;
        }
      }

      .io-header {
        font-size: 1.142rem;
        font-weight: 700;
      }

      .input-box {
        padding: 30px;
        border-bottom: solid 1px $tertiary-dark;
        height: 50%;
        overflow: auto;
      }

      .output-box {
        padding: 30px;
        background: $primary-dark;
        height: 50%;
        overflow: auto;
      }

      pre {
        color: $primary-light;
      }
    }

    .io-navigation {
      display: flex;
      align-items: center;
      font-size: 1.25rem;
      background: $tertiary-dark;
      width: 100%;

      & .tab {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 15px 25px;

        &:hover,
        &.active {
          background: $primary-dark;
        }
      }
    }

    .open-io-button {
      cursor: pointer;
      font-weight: bold;
      position: absolute;
      top: 20px;
      right: 3rem;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 100;
      border: 1px solid $accent-color-green;
      transition: all 0.75s;

      &__icon {
        transition: all 0.75s;
      }

      // .open-io-button__tooltip {
      //   display: none;
      //   background: rgba($color: $primary-light, $alpha: 0.5);
      //   border-radius: 5px;
      //   position: absolute;
      //   padding: 5px;
      //   color: $primary-dark;
      //   font-size: 0.75rem;
      //   width: 90px;
      //   bottom: -50px;
      //   right: -15px;
      // }

      // &:hover {
      //   .open-io-button__tooltip {
      //     display: block;
      //   }
      // }
    }
  }

  .overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background: rgba($color: #363a43, $alpha: 0.6);
    display: flex;
    align-items: center;
    justify-content: center;

    &--hidden {
      display: none;
    }

    &__modal {
      height: fit-content;
      max-height: 80%;
      overflow: auto;
      width: 90vw;
      max-width: 500px;
      background: $primary-dark;
      border-radius: 10px;
      padding: 50px 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &__close-button {
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
      }

      .w-100 {
        text-align: center;
      }

      &__title {
        color: $primary-light;
        font-weight: 700;
        font-size: 1.285rem;
      }

      &__divider {
        background-color: $tertiary-dark;
        margin: 30px 0;
        height: 1px;
        width: 100%;
      }
    }
  }

  .login-card {
    padding: 0.75rem 1.5rem;
    font-weight: 700;
    font-size: 1.142rem;
    width: 60%;
    min-width: fit-content;
    color: $primary-light;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.5s ease;

    &--google {
      background: $primary-light;
      color: $primary-dark;
      border: 1px solid $primary-light;

      &:hover {
        color: $primary-light;
      }
    }

    &--github {
      background: #6cc644;
      border: 1px solid #6cc644;
    }

    &--linkedin {
      background: #0077b5;
      border: 1px solid #0077b5;
    }

    &:hover {
      background: transparent;
    }
  }
}

.top-banner {
  // position: absolute;
  padding: 10px 30px;
  height: $banner-height;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: $banner-background;
  color: $primary-light;
}

.top-banner .top-banner--cross {
  color: $primary-light;
  font-size: 20px;
  cursor: pointer;
}

.top-banner .banner--green-text {
  color: $accent-color-green;
}

// REUSE LATER

// .language-selector {
//   padding: 10px 20px;
//   border: 1px solid $accent-color-green;
//   font-weight: 500;
//   border-radius: 5px;
//   cursor: pointer;
//   position: absolute;
//   right: 5rem;
//   top: calc(1.5rem + 2px);
//   min-width: 150px;

//   &__active {
//     text-align: center;
//     font-weight: bold;
//   }

//   &__content {
//     height: 0;
//     transition: all 0.25s;

//     &__item {
//       display: none;
//     }
//   }

//   &:hover,
//   &:active,
//   &:focus-within,
//   &:focus,
// 	&:focus-visible {
//     background: $tertiary-dark;
//     border: solid 1px $accent-color-pink;
//     padding: 10px 20px;

//     .language-selector__content {
//       height: 150px;
//       padding-top: 15px;
//       overflow: auto;

//       scrollbar-width: none;

//       &::-webkit-scrollbar {
//         display: none;
//       }

//       &__item {
//         display: block;

//         &:hover {
//           color: $accent-color-green;
//         }
//       }
//     }
//   }
// }
