$accent-color-green: #7ac25b;
$accent-color-purple: #7200ff;
$accent-color-pink: #aa00ff;

$accent-gradient-purple: linear-gradient(to right, $accent-color-purple, $accent-color-pink);

$primary-dark: #1e1e1e;
$secondary-dark: #404040;
$tertiary-dark: #5c5c5c;

$primary-light: #ffffff;
$secondary-light: #d1d1d1;
$tertiary-light: #adadad;

html {
  font-size: 14px;
}

.h-inherit {
  height: inherit;
}

html {
  font-size: 14px;
}

.h-inherit {
  height: inherit;
}

.ide-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;

  &--dark {
    background: $primary-dark;
    color: $primary-light;
  }

  .navbar-top {
    border-bottom: solid 1px $tertiary-dark;
    height: 90px;

    .language-selector {
      padding: 10px 20px;
      border: 1px solid $accent-color-green;
      font-weight: 500;
      border-radius: 5px;
      cursor: pointer;
      position: absolute;
      right: 5rem;
      top: calc(1.5rem + 2px);
			min-width: 150px;

			&__active {
				text-align: center;
				font-weight: bold;
			}

      &__content {
        height: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        transition: all 0.25s;

        &__item {
          display: none;
        }
      }

      &:hover,
      &:active,
      &:focus-within,
      &:focus {
        background: $tertiary-dark;
        border: solid 1px $accent-color-pink;
        padding: 10px 20px;

        .language-selector__content {
          height: 150px;
          padding-top: 15px;
          overflow: auto;

          scrollbar-width: none;

          &::-webkit-scrollbar {
            display: none;
          }

          &__item {
            display: block;

            &:hover {
              color: $accent-color-green;
            }
          }
        }
      }
    }

    // select {
    //   -webkit-appearance: none;
    //   -moz-appearance: none;
    //   -ms-appearance: none;
    //   appearance: none;
    //   outline: 0;
    //   box-shadow: none;
    //   background: $primary-dark;
    //   background-image: none;
    //   color: #fff;
    //   cursor: pointer;

    //   &::-ms-expand {
    //     display: none;
    //   }

    // 	option {
    // 		background: $primary-dark;
    // 		padding: 10px 0;
    // 	}
    // }

    // .language-selector__content {
    //   position: relative;
    //   border: 1px solid $accent-color-green;
    //   overflow: hidden;
    //   border-radius: 5px;
    // 	padding: 10px 20px;
    // }
  }
  .run-button__container {
    position: fixed;
    bottom: calc(1.5rem + 80px);
    right: calc(3rem + 80px);
    transition: all 0.5s;

    .run-button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;
      width: 80px;
      border-radius: 50px;
      cursor: pointer;
      padding: 20px;
      position: absolute;
      top: 0;
      left: 0;

      img {
        width: 100%;
      }

      &--run-code {
        background: $accent-color-pink;
        border: solid 1px $accent-color-pink;
      }

      &--success {
        background: $accent-color-green;
        border: solid 1px $accent-color-green;
      }

      &--error {
        background: #ff3030;
        border: solid 1px #ff3030;
      }
    }

    .ring-animation {
      position: absolute;
      top: -5px;
      left: -5px;
      visibility: hidden;
      opacity: 0;
      transition: all 0.25s;

      circle {
        fill: transparent;
        stroke: $accent-color-green;
        stroke-width: 4;
        stroke-dasharray: 250;
        stroke-dashoffset: 1000;
      }

      @keyframes rotate {
        to {
          stroke-dashoffset: 0;
        }
      }
    }

    &:hover {
      .ring-animation {
        visibility: visible;
        opacity: 1;

        circle {
          animation: rotate 5s linear infinite;
        }
      }
    }
  }

  .main-container {
    height: calc(100vh - 90px);

    .ide-section {
      flex: 1;
    }

    .io-section {
      border-left: solid 1px $tertiary-dark;
      width: 40%;
      max-width: 500px;
      position: relative;
      transition: all 0.5s;

      &--hidden {
        margin-right: -500px;

        .run-button__container {
          bottom: calc(3rem + 80px);
        }
      }
    }

    .io-navigation {
      display: flex;
      align-items: center;
      font-size: 1.25rem;
      background: $tertiary-dark;
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;

      & .tab {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 15px 25px;

        &:hover,
        &.active {
          background: $primary-dark;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    }
  }
}
